/* From Uiverse.io by Smit-Prajapati */
.contact-card {
  width: 90%;
  aspect-ratio: 4/4;
  background: white;
  border-radius: 32px;
  padding: 3px;
  position: relative;
  box-shadow: #604b4a30 0px 70px 30px -50px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  animation: slow linear forwards;
  margin-bottom: 20px;
  margin-inline: auto;
  /* animation-range: entry;
        animation-timeline: view(); */
  /* transition: 1000ms; */
}

@media (min-width: 768px) {
  .contact-card {
    width: 300px;
    display: none;
  }
}

.contact-card .mail {
  position: absolute;
  right: 2rem;
  top: 1.4rem;
  background: transparent;
  border: none;
}

.contact-card .mail .mail-icon {
  stroke: cyan;
  stroke-width: 3px;
  font-size: 24px;
}

.contact-card .mail .mail-icon:hover {
  stroke: rgb(0, 255, 255);
}

.contact-card .profile-pic {
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  top: 3px;
  left: 3px;
  border-radius: 29px;
  z-index: 1;
  border: 0px solid cyan;
  overflow: hidden;
  transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
}

.contact-card .profile-pic img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: 100px 0px;
  object-position: 0px 0px;
  transition: all 0.5s ease-in-out 0s;
}

.contact-card .bottom {
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background: cyan;
  top: 80%;
  border-radius: 29px;
  z-index: 2;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.contact-card .bottom .content {
  position: absolute;
  top: 10px;
  /* bottom: 0; */
  left: 1.5rem;
  right: 1.5rem;
  height: 160px;
  padding-top: 20px;
  color: cyan;
}

.contact-card .bottom .content .name {
  display: block;
  font-size: 1.2rem;
  /* color: white; */
  font-weight: bold;
}

.contact-card .bottom .content .about-me {
  display: block;
  font-size: 0.9rem;
  /* color: white; */
  margin-top: 1rem;
}

.contact-card .bottom .bottom-bottom {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-card .bottom .bottom-bottom .social-links-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
}

.contact-card .bottom .bottom-bottom .social-links-container a {
  height: 20px;
  font-size: 22px;
  fill: white;
  filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
}

.contact-card .bottom .bottom-bottom .social-links-container :hover {
  fill: rgb(250, 250, 250);
  transform: scale(1.2);
}

.contact-card .bottom .bottom-bottom .button {
  background: white;
  color: cyan;
  border: none;
  border-radius: 20px;
  font-size: 0.6rem;
  padding: 0.4rem 0.6rem;
  box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
}

.contact-card .bottom .bottom-bottom .button:hover {
  background: cyan;
  color: white;
}

.contact-card:hover {
  border-top-left-radius: 55px;
  box-shadow: 0px 0px 18px 1px rgb(57, 117, 117);
  /* background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%); */
}

.contact-card:hover .bottom {
  top: 20%;
  border-radius: 80px 29px 29px 29px;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.contact-card:hover .bottom .content {
  color: white;
  transition: 1s;
}

.contact-card:hover .profile-pic {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 3;
  border: 7px solid cyan;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
  transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
}

.contact-card:hover .profile-pic:hover {
  transform: scale(1.3);
  border-radius: 0px;
}

.contact-card:hover .profile-pic img {
  transform: scale(2.5);
  -o-object-position: 0px 25px;
  object-position: 0px 25px;
  transition: all 0.5s ease-in-out 0.5s;
}

.contact-card:hover .profile-pic svg {
  transform: scale(2.5);
  transition: all 0.5s ease-in-out 0.5s;
}

@keyframes slow {
  to {
    scale: 1;
    opacity: 1;
  }
}

/* disktop -view contact */

.contact-disktop-container {
  width: 90%;
  margin-inline: auto;
  display: flex;
}

/* @media (max-width: 768px) {
      .contact-disktop-container {
        display: none;
      }
    } */

.disktop-social-container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .disktop-social-container {
    display: none;
  }
}

/* From Uiverse.io by DavidTM96 */
.form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-self: center;
  font-family: inherit;
  gap: 10px;
  padding-inline: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  /* background-color: #0a192f; */
  border-radius: 20px;
}

.form-heading {
  text-align: center;
  margin: 2em;
  color: #64ffda;
  font-size: 1.2em;
  background-color: transparent;
  align-self: center;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #ccd6f6;
  padding-inline: 1em;
}

.sendMessage-btn {
  cursor: pointer;
  margin-bottom: 3em;
  padding: 1em;
  border-radius: 10px;
  border: none;
  /* outline: none; */
  background-color: transparent;
  color: #64ffda;
  font-weight: bold;
  outline: 1px solid #64ffda;
  transition: all ease-in-out 0.3s;
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: #64ffda;
  color: #000;
  cursor: pointer;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.form-card1 {
  background-image: linear-gradient(163deg, #64ffda 0%, #64ffda 100%);
  border-radius: 22px;
  transition: all 0.3s;
  width: 100%;
  /* display: none; */
}

@media (min-width: 768px) {
  .form-card1 {
    width: 60%;
    display: block;
  }
}

.form-card1:hover {
  box-shadow: 0px 0px 30px 1px rgba(100, 255, 218, 0.3);
}

.form-card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.form-card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

/* disktop -view- social */
/* From Uiverse.io by david-mohseni */

/* From Uiverse.io by Praashoo7 */
.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background: white;
  border-radius: 120px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
  text-align: center;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  width: 120px;
  height: 120px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 5px 120px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
  text-align: center;
}

.twitter {
  margin-top: 1.5em;
  margin-left: -0.9em;
  fill: #03a9f4;
}

.card3 {
  width: 120px;
  height: 120px;
  outline: none;
  border: none;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 5px 120px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
  text-align: center;
}

.github {
  margin-top: -0.6em;
  margin-left: 1.2em;
  color: #000;
}

.card4 {
  width: 120px;
  height: 120px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 5px 5px 120px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
  text-align: center;
}

.linkedin {
  margin-top: -0.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03a9f4;
}

.card2:hover .twitter {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.card4:hover .linkedin {
  fill: white;
}
